body{
    background-color: red;
}
h1{
    text-align: center;
    background: yellow;
    border: red;
    font-family: Impact;
    font-size: 30px;
    color: red;
    padding: 30px;
    margin-top: -2px;
    border-radius: 2px;
}
#liveScores{
    text-align: center;
    background: yellow;
    margin-top: -15px;
    border-radius: 2px;
}

h2{
    text-align: center;
    background: yellow;
    margin-top: -10px;
    border-radius: 2px;
}